.mobileMenuHidden {
    position: fixed;
    top: -100% !important;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
}

.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;

    div{  
        border-bottom: 1px solid var(--main-border);
        height: 3.5rem;
        margin: 2rem auto;
        width: 80%;
        overflow: hidden;
        display: flex;
        flex-direction: column;  
        align-items: center;
    }

    a{
        font-size: 4rem;
        font-weight: 100;
        text-decoration: none;
        font-style: italic;  
        font-family: 'Baskervville', serif; 
        text-align: center;  
    }
}

